body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bc6588;
    color: #fff;
    padding: 20px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

.logo img {
    max-width: 80px;
    height: 60px; /* Adjust the size as needed */
    box-sizing: border-box;
    margin-right: 100px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 10px;
    
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }

    .menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
